/* Reset e base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: url('./images/main-background.png');
  color: #222;
  line-height: 1.6;
}

/* Header */
header {
  background-color: rgba(0, 34, 68, .8);
  color: white;
  padding: 1rem;
  text-align: center;
  
}

header h1 {
  font-size: 3rem;
}

/* Navegação */
nav {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  color: #000;
  background-color: #c2f6fa;
}

nav a.ativo {
  text-decoration: underline;
}

/* Main */
main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Articles */
article {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 5px solid #0066cc;
  cursor: pointer;
  transition: background-color 0.2s;
}

article:hover {
  background-color: #c4d9ff;
  transition: .8s;
}

article h1.title-opnion {
  background-color: rgba(148, 148, 148, .4);
  color: rgb(15, 15, 128);
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 35px;
}

article.noticia {
  cursor: default;
  border-left: none;
}

/* Footer */
footer {
  background-color: #ddd;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}

/* Responsividade */

/* Tela pequena (celular) */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  main {
    margin: 1rem auto;
  }

  article {
    padding: 0.8rem;
  }
}

/* Tela média (tablet) */
@media (min-width: 601px) and (max-width: 900px) {
  main {
    max-width: 700px;
  }
}
